li {
    list-style-type: none;
}

a {
  text-decoration: none;
}

body{
  margin: 0px;
  background-color: #e0f5dc;
}

main{
  width: 80%;
  margin: auto;
}

.header {
    background-color: #79a280;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
  background: #F8FaFF;    
}

.logo{
    height: 70px;
}

figure{
    margin: 0px 0px 0px 10px;
}

.nav-links a {
    color: #0D0C22;
    font-size: 1.2rem;
    transition: color 0.2s;
    text-transform: uppercase;
    margin-left: 6px;
}

.nav-links li a:hover {
  color: #adf542;
  font-weight: bold;
}

.nav-links{
    display: flex;
}

.login {
    color: black;
}

.login a {
  text-decoration: none;
  color: #0D0C22;
  font-size: 1.2rem;
  transition: color 0.2s;
  align-self: center;
}

.login a:hover {
  color: #adf542;
  font-weight: bold;
  border: 1px solid #adf542;
  border-radius: 5px;
}

.header ul {
    padding: 0;
}

.header li {
    padding: 0 10px;
}