.block-moto {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.block-moto-image {
    margin-right: 1rem;
    width: 320px;
    height: 215px;
}

.block-moto-content {
    text-align: left;
    color: black;
}

.block-moto-list{
    display: flex;
    justify-content: space-between;
}

.block-moto-list li{
    margin-right: 3px;
}

.elements{
    margin: 4px 0;
    width: 1000px;
}

.block-moto:hover{
    background-color: #a3e3b4;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
}

/* // */
.filter_box {
    margin: 10px 0;
    padding: 0;
    text-align: left;
    font-size: 1.2rem;
}

.block-search {
    position: fixed; 
    right: 110px; 
    width: 230px;
    top: 20%;
    border-radius: 6px;
    border: 2px solid #1a630f;
}

input[type="number"], select {
  width: 50%;
  padding: 5px;
  font-size: 16px;
  margin: 10px 0px;
  background-color: lightgray;
  border-radius: 3px;
  border: 0px;
}

input[type='submit'] {
  height: 32px;
  display: block;
  background-color: #6DB65B;
  color: white;
  border-radius: 3px;
  border: 0px;
  font-size: 18px;
}

input[type='submit']:hover {
  color: black;
  cursor: pointer;
}

.weight {
  display: inline;    
}

.field {
    display: flex;
}