.block {
  text-align: center;
  margin: 4px 0;
}

.block-moto {
    display: flex;
    align-items: center;
}

.block-moto-image {
    width: 50%;
    margin-right: 1rem;
}

.block-moto-content {
    text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

form {
    border-radius: 6px;
    border: 2px solid #1a630f;
    padding: 8px 0;
}

ul{
    padding: 2px;
}

.rent{
    padding-left: 10px
}