.block p{
    display: inline;
}

.block input:hover {
	background-color: #a3e3b4;
}

p.u-data, input { 
  font-family: helvetica; 
  font-size: 14px; 
  font-weight: bold;
  color: #333333; 
  margin-bottom: 10px;
}

input {
	background: none;
	border: none;
}