.text-center {
  text-align: center;
}

.t1{
    text-decoration: none;
    border-collapse:collapse;
    width:100%;
    text-align:center;
    table-layout: fixed;
    font-size: 16px;
}

.t1 th{
    font-weight:normal;
    color:#ffffff;
    background-color:#000000;
}

.t1 td{
    color:#000000;
}

.t1 td,table.t1 th{
    white-space:pre-wrap;
    padding:10px 5px;
    line-height:13px;
    vertical-align: middle;
    border: 1px solid #000000;
}

.t1 tr:hover{
    background-color:#f9fafb;
}

.t1 tr:hover td{
    color:#000000;
    cursor:default;
}

.t-title{
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.t-name{
    background-color: #a3e3b4;
    font-weight: 200;
    text-align: center;
    font-size: 20px;
}



.t2{
    text-decoration: none;
    border-collapse:collapse;
    width:100%;
    text-align:center;
    table-layout: fixed;
    font-size: 16px;
}

.t2 th{
    font-weight:normal;
    color:#ffffff;
    background-color:#000000;
}

.t2 td{
    color:#000000;
}

.t2 td,table.t1 th{
    white-space:pre-wrap;
    padding:10px 5px;
    line-height:13px;
    vertical-align: middle;
    border: 1px solid #000000;
}

.t2 tr:hover{
    background-color:#f9fafb;
}

.t2 tr:hover td{
    color:#000000;
    cursor:default;
}



.t3{
    text-decoration: none;
    border-collapse:collapse;
    width:100%;
    text-align:center;
    table-layout: fixed;
    font-size: 16px;
}

.t3 th{
    font-weight:normal;
    color:#ffffff;
    background-color:#000000;
}

.t3 td{
    color:#000000;
}

.t3 td,table.t1 th{
    white-space:pre-wrap;
    padding:10px 5px;
    line-height:13px;
    vertical-align: middle;
    border: 1px solid #000000;
}

.t3 tr:hover{
    background-color:#f9fafb;
}

.t3 tr:hover td{
    color:#000000;
    cursor:default;
}



.t4{
    text-decoration: none;
    border-collapse:collapse;
    width:100%;
    text-align:center;
    table-layout: fixed;
    font-size: 16px;
}

.t4 th{
    font-weight:normal;
    color:#ffffff;
    background-color:#000000;
}

.t4 td{
    color:#000000;
}

.t4 td,table.t1 th{
    white-space:pre-wrap;
    padding:10px 5px;
    line-height:13px;
    vertical-align: middle;
    border: 1px solid #000000;
}

.t4 tr:hover{
    background-color:#f9fafb;
}

.t4 tr:hover td{
    color:#000000;
    cursor:default;
}



.t5{
    text-decoration: none;
    border-collapse:collapse;
    width:100%;
    text-align:center;
    table-layout: fixed;
    font-size: 16px;
}

.t5 th{
    font-weight:normal;
    color:#ffffff;
    background-color:#000000;
}

.t5 td{
    color:#000000;
}

.t5 td,table.t1 th{
    white-space:pre-wrap;
    padding:10px 5px;
    line-height:13px;
    vertical-align: middle;
    border: 1px solid #000000;
}

.t5 tr:hover{
    background-color:#f9fafb;
}

.t5 tr:hover td{
    color:#000000;
    cursor:default;
}