.right{
    width: 40%;
    float: right;
    text-align: center;    
}

.top-block {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
}

.top-block__content {
    text-align: center;
    margin-top: 70px;
}

.top-block__title {
    text-align: center;
}

.text li{
    list-style-type: circle
}

/* /// */
.listbox {
    width: 130px;
    height: 30px;
}

.date-block {
    padding: 10px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.list{
    padding: 0;
}

.right ul{
    padding: 0;
}

form {
    border-radius: 6px;
    border: 2px solid #1a630f;
    padding: 8px 0;
}

.list-item {
    text-align: center;
    width: 100%;
    margin: 20px auto;
    background-color: #a3e3b4;
    padding: 10px 0;
}
.element img {
    width: 70%;
    display: block;
    margin: 0 auto;
}
h3 {
    font-size: 1.5em;
    margin: 0 auto;
    margin-bottom: 10px;
}

.elements {
    padding-left: 0;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.elements img{
    width: 50px;
    height: 50px;
}

.elements ul{
    padding-left: 0;
}