.block-trip {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: black;
}

.block-trip:hover {
  background-color: #a3e3b4;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
}

.image-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.image-container img{
  width: 440px;
  height: 300px;
}

.text-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.text-container ul{
  padding: 0;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
}

.description {
  font-style: italic;
}

.list-item {
  list-style-type: none;
  margin: 5px 0;
}

.elements{
  margin: 4px 0;
}

/* sdsad */
.top-block{
  display: flex;
  justify-content: center;
}

.top-block a {
  display:inline-block;
  width:155px;
  padding:15px;
  text-align: center;
  background-color: #ff0000;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease;
  margin: 0 10px;
}

.top-block a:hover {
  background-color: #ffa500;
  border-radius: 7px;
}

.top-block a:active {
  background-color: #00ff00;
}
.cat {
  padding: 0;  
}

/* // */
.block-search {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 2px solid #1a630f;
}

.filter_box {
  margin: 10px;
  padding: 10px;
  width: 15%;
}

input[type='submit'] {
  height: 32px;
  display: block;
  background-color: #6DB65B;
  color: white;
  border-radius: 3px;
  border: 0px;
  font-size: 18px;
}

input[type='submit']:hover {
  color: black;
  cursor: pointer;
}

.rec-item {
    border-radius: 6px;
    border: 2px solid #1a630f;
    padding: 8px 0;
}

.rec-elements {
    padding: 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.rec-elements img{
    width: 200px;
    height: 150px;
}

.rec-elements ul{
    padding: 20px;
}

.rec-element {
    width: 33%;
    text-align: center;
    transition: all 0.3s ease;
}

.rec-element img {
    display: block;
    margin: 0 auto;
}

.rec-element:hover {
  background-color: #a3e3b4;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
}