{% extends 'base/base.html' %}
{% load static %}


{% block style %}
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/profile.css' %}"/>
{% endblock %}

{% block content %}
<h1>Ваши данные</h1>
  <form method="post">
    {% csrf_token %}
    <h2 class="u-login">Логин: {{ user.username }}</h2>

    {% if user.email %}
      <div class="block">
        <p class="u-data">Почта:</p>
        <input name="mail" value="{{ user.email }}"></input>
      </div>  
    {% else %}
      <div class="block">
        <p class="u-data">Почта:</p>
        <input name="mail" value="Введите почту"></input>
      </div>  
    {% endif %}

    {% if user.first_name %}
      <div class="block">
        <p class="u-data">Имя:</p>
        <input name="fName" value="{{ user.first_name }}"></input>
      </div>  
    {% else %}
      <div class="block">
        <p class="u-data">Имя:</p>
        <input name="fName" value="Введите имя"></input>
      </div>  
    {% endif %}

    {% if user.last_name %}
      <div class="block">
        <p class="u-data">Фамилия:</p>
        <input type="text" name="sName" value="{{ user.last_name }}"></input>
      </div>  
    {% else %}
      <div class="block">
        <p class="u-data">Фамилия:</p>
        <input type="text" name="sName" value="Введите фамилию"></input>
      </div>  
    {% endif %}

    {% if prof.phone %}
      <div class="block">
        <p class="u-data">Номер телефона:</p>
        <input type="text" name="number" value="{{ prof.phone }}"></input>
      </div>  
    {% else %}
      <div class="block">
        <p class="u-data">Номер телефона:</p>
        <input type="text" name="number" value="Введите номер телефона"></input>
      </div>  
    {% endif %}
    <button type="submit">Изменить</button>
  </form>

  <div class='tours-info'>
    <div class="soon-tours">
      <h2>Предстоящие туры</h2>
      <ul>
        {% for res in reservations %}
          {% if res.tourId.dateId.dateStart > view.get_now_day %}
            <a href="{% url 'trip' res.tourId.pk %}">
              <li>
                  <h4>{{res.tourId}}</h4>
                  <p>{{res.tourId.dateId}}</p>
                  {% if res.isRentMoto %}
                    <p>{{res.motoId}}</p>
                  {% endif %}
                  <p>{{res.price}}₽</p>
              </li>
            </a>
          {% endif %} 
        {% endfor %}
      </ul>
    </div>   
    <div class="ended-tours"> 
      <h2>Завершенные туры</h2>
      <ul>
        {% for res in reservations %}
          {% if res.tourId.dateId.dateStart <= view.get_now_day %}
            <a href="{% url 'trip' res.tourId.pk %}">
              <li>
                  <h4>{{res.tourId}}</h4>
                  <p>{{res.tourId.dateId}}</p>
                  {% if res.isRentMoto %}
                    <p>{{res.motoId}}</p>
                  {% endif %}
                  <p>{{res.price}}₽</p>
              </li>
            </a>
          {% endif %} 
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
