<ul class="filter_box">
    <li>
        Укажите свой опыт езды на мотоцикле
        <select name="t_lvl">
            <option selected disabled>Выбрать</option>
            <option value="Базовый">Базовый</option>
            <option value="Средний">Средний</option>
            <option value="Профессиональный">Профессиональный</option>
        </select>
    </li>
    <li>
        Поездки какой протяженнойсти вы предпочитаете?
        <select name="t_lvl">
            <option selected disabled>Выбрать</option>
            <option value="Короткие">Короткие</option>
            <option value="Средние">Средние</option>
            <option value="Длинные">Длинные</option>
        </select>
    </li>
    <li>
        Тип путешествия
        <select name="t_lvl">
            <option selected disabled>Выбрать</option>
            <option value="Маршрут выходного дня">Маршрут выходного дня</option>
            <option value="Многодневные">Многодневные</option>
        </select>
    </li>
</ul>