{% extends "base/base.html" %}
{% load static %}


{% block style %}
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/tripInfo.css' %}"/>
    <meta charset="utf-8">
{% endblock %}

{% block content %}
    <h1 class="top-block__title">{{ trip.name }}</h1>
    <div class="list-item">
        <ul class="elements">
            <li class="element">
                <img src="https://cdn-icons-png.flaticon.com/512/55/55281.png">
                <h3>Даты</h3>
                <ul>
                    {% for t in tour|dictsort:'dateId.dateStart' %}
                        {% if t.available > t.booked %}
                            {% if t.dateId.dateStart > view.get_now_day %}
                                <li>{{ t.dateId }}</li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="element">
                <img src="https://cdn-icons-png.flaticon.com/512/66/66163.png" alt="Image">
                <h3>Продолжительность</h3>
                <ul>
                    <li>{{trip.duration}} дней</li>
                </ul>
            </li>
            <li class="element">
                <img src="https://cdn-icons-png.flaticon.com/512/1179/1179054.png" alt="Image">
                <h3>Протяженность</h3>
                <ul>
                    <li>{{trip.length}} км на мотоцикле</li>
                </ul>
            </li>
            <li class="element">
                <img src="https://cdn-icons-png.flaticon.com/512/1341/1341578.png" alt="Image">
                <h3>Группа</h3>
                <ul>
                    <li>1 гид</li>
                    <li>1 механик</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="left" style="width: 60%; float: left;">
            <div class="text">
                <div style="text-align: center;">
                  <p>{{ trip.description }}</p>
                </div>

                <p>Основная информация</p>

                <ul>
                    <li>Тип путешествия: {{trip.type}}</li>
                    <li>Уровень сложности: {{trip.lvl}}</li>
                    <li>Длительность: {{trip.duration}} дней</li>
                    <li>Протяженность маршрута: {{trip.length}} км</li>
                    <li>Цена на воем мотоцикле: {{trip.priceWOMoto}}₽</li>
                    <li>Цена с арендтой мотоцикла: {{trip.priceWMoto}}₽</li>
                </ul>

                <p>В стоимость <strong>входит:</strong></p>

                <ul>
                    <li>Проживание в гостиницах (двухместные номера)</li>
                    <li>Завтраки</li>
                    <li>Сопровождение</li>
                    <li>Экскурсии</li>
                    <li>Техническая поддержка</li>
                </ul>

                <p>В стоимость <strong>не входит:</strong></p>

                <ul>
                    <li>Бензин</li>
                    <li>Обеды и ужины</li>
                    <li>Медицинская страховка</li>
                    <li>Прочие расходы</li>
                </ul>
            </div>
        </div>
      <div class="right">
        <div class="date-block">
          <h3>БЛИЖАЙШИЕ ДАТЫ</h3>
          <ul class="list">
            {% for t in tour|dictsort:'dateId.dateStart' %}
                {% if t.available > t.booked %}
                    {% if t.dateId.dateStart > view.get_now_day %}
                        <li><ins>{{ t.dateId }}</ins></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="line"></div>
        {% if request.user.is_authenticated %}
        <form method="post">
             {% csrf_token %}
            <div class="reg-block">
                <h3>БРОНИРОВАНИЕ</h3>
                <ul>
                    Дата              
                    <select name="dateId" class="listbox" id="listbox">
                        {% for t in tour|dictsort:'dateId.dateStart' %}
                            {% if t.available > t.booked %}
                                {% if t.dateId.dateStart > view.get_now_day %}
                                    <option value="{{ t.dateId.pk }}">{{ t.dateId }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </ul>
                <ul>
                    Взять мотоцикл в аренду
                    <input name="isrent" type="checkbox" id="checkbox" onclick="showListbox()">
                </ul>
                <ul style="display: none;" id="second_listbox">
                    Мотоциклы
                    <select name="mName" class="listbox">
                        <option selected disabled>Выбрать</option>
                        {% for moto in view.get_motoNames %}
                            <option value="{{ moto.name }}">{{ moto.name }}</option>
                        {% endfor %}
                    </select>
                </ul>
                <input type="submit" value="Забронировать">
            </div>
        </form> 
        {% else %}
        <h3>БРОНИРОВАНИЕ</h3>
        <li class="login"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
        {% endif %}
        <div id="map" class="map" data-json="{{ places }}"></div>
      </div>
    </div>

    <div class="rec-item">
        <h2 style="text-align: center">Рекомендации на основе выбранного тура</h2>
        <ul class="rec-elements">
            {% for t in recTrips %}
            <li class="rec-element">
                <a href="{{ t.pk }}">
                    <img src="{{t.image.url}}" alt="Image">
                    <h3 style="color: black">{{t.name}}</h3>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'base/js/tripInfo.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=9f3be409-71e3-4fe5-9f81-e5dbff89a88d&lang=ru_RU"></script>
<!--    <script src="{% static 'base/js/tripMap.js' %}" type="text/javascript"></script>-->
    <script type="text/javascript">
        ymaps.ready(function () {
            var myMap = new ymaps.Map('map', {
                center: [55.751574, 37.573856],
                zoom: 9,
                controls: []
            });

            // Создание маршрута по трем точкам.
            // Вторая точка будет транзитной.
            var multiRoute = new ymaps.multiRouter.MultiRoute({
                referencePoints:
                    '{{ trip.places }}'.split(', '),
                params: {
                    viaIndexes: [1]
                }
            }, {
                boundsAutoApply: true
            });

            // Добавление маршрута на карту.
            myMap.geoObjects.add(multiRoute);
        });
    </script>
{% endblock %}